DB_DRIVER=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRES=
JWT_REFRESH_TOKEN_EXPIRES=

FLASK_SQLALCHEMY_TRACK_MODIFICATIONS=
FLASK_SQLALCHEMY_ECHO=

FLASK_HOST=
FLASK_PORT=
FLASK_DEBUG=

FRONTEND_URLS=

ENV_TYPE=
